<div class="page-content-wrapper ">
 
<div class="content ">
<div class="social-wrapper">
<div class="social " data-pages="social">
 
<div class="jumbotron" data-pages="parallax" data-social="cover">
<div class="cover-photo">
<img alt="Cover photo" src="assets/img/social/cover.png"/>
</div>
<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
<div class="inner">
<div class="pull-bottom bottom-left m-b-40">
<h5 class="text-white no-margin">Hello World</h5>
<h1 class="text-white no-margin"><span class="semi-bold">Scholar</span>plus</h1>
</div>
</div>
</div>
</div>
 
<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
<div class="feed">

<div class="day" data-social="day">
 
<div class="card no-border bg-transparent full-width" data-social="item">
 
<div class="container-fluid p-t-30 p-b-30 ">
<div class="row">
<div class="col-md-4">
<div class="container-xs-height">
<div class="row-xs-height">
<div class="social-user-profile col-xs-height text-center col-top">
<div class="thumbnail-wrapper d48 circular bordered b-white">
<img alt="Avatar" width="55" height="55" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg">
</div>
<br>
<i class="fa fa-check-circle text-success fs-16 m-t-10"></i>
</div>
<div class="col-xs-height p-l-20">
<h3 class="no-margin">Bram Rahadian</h3>
<p class="no-margin fs-16">Institut Teknologi Sepuluh Nopember</p>
<p class="hint-text m-t-5 small">Information Systems Department | 2nd year</p>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<p class="no-margin fs-16">Hi My Name is Bram Rahadian</p>
<p class="hint-text m-t-5 small">I love photography and I also really loved to code.</p>
</div>
<div class="col-md-4">
<p class="m-b-5 small">1,435 Mutual Friends</p>
<ul class="list-unstyled ">
<li class="m-r-10">
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="Profile Image" src="assets/img/profiles/1.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" alt="Profile Image" src="assets/img/profiles/2.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" alt="Profile Image" src="assets/img/profiles/3.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" alt="Profile Image" src="assets/img/profiles/4.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" alt="Profile Image" src="assets/img/profiles/5.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" alt="Profile Image" src="assets/img/profiles/6.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" alt="Profile Image" src="assets/img/profiles/7.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white">
<div class="bg-master text-center text-white"><span>+34</span>
</div>
</div>
</li>
</ul>
<br>
<p class="m-t-5 small">More friends</p>
</div>
</div>
</div>
 
</div> 
 

 
</div>
 
</div>
 
</div>
 
</div>
 
</div>
</div>
 
</div>
 
</div>
